.debug-console {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

html {
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:14px ~ ｳｲﾝﾄﾞｳ幅1025px:16px の範囲で変化 */
  font-size: clamp(14px, calc(14px + (100vw - 375px) * (2 / 650)), 16px);
  color: #333333;
}

.c-btn {
  z-index: 0;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2vw;
  background-color: #666666;
}
.filter-btn.c-btn {
  z-index: 2
}
.portfolio-name {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px red;
}
.filter-screen {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40dvh;
  background-color: rgba(48, 240, 157, 0.8);
  opacity: 0;
  transform: translate(-100%, -100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.filter-screen.is-show {
  opacity: 1;
  transform: translate(0, 0);
}

.main {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100dvh;
}
.main-screen {
  overflow: hidden;
  width: 100%;
  height: 40%;
  border: solid 1px orange;
}
.pages {
  display: flex;
  width: 300%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.2s ease;
}
.top-page {
  width: 100%;
  height: 100%;
  background-color: blueviolet;
}
.idea-page {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.pain-page {
  width: 100%;
  height: 100%;
  background-color: violet;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  width: 100%;
  height: 60%;
  padding: 2vw;
  gap: 2vw;
  background-color: #333333;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:160px ~ ｳｲﾝﾄﾞｳ幅1025px:200px の範囲で変化 */
  height: clamp(160px, calc(160px + (100vw - 375px) * (40 / 650)) , 200px);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.frame {
  overflow: hidden;
  width: 100%;
  height: 65%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0 0.5rem;
  line-height: 1;
}
.tags {
  display: flex;
  gap: 0.25rem;
}
.tag {
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.5em;
  background-color: #F0F0F0;
  font-size: 0.6rem;
  letter-spacing: -0.1em;
}

/**** ﾀﾌﾞﾚｯﾄ → ****/
@media screen and (min-width: 600px) {
  .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**** PC → ****/
@media screen and (min-width: 1025px) {
  .header {
    width: 60%;
  }
  .filter-screen {
    width: 60%;
    height: 50dvh;
  }
  .main {
    display: flex;
  }
  .main-screen {
    width: 60%;
    height: 100%;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    height: 100%;
  }
}