.hmb {
  z-index: 1;
  position: fixed;
  top: 2vw;
  left: 2vw;
  aspect-ratio: 1 / 1;
  width: 40px;
  border: solid 1px red;
}
.main {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100dvh;
}
.screen {
  width: 100%;
  height: 40%;
  border: solid 1px orange;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  width: 100%;
  height: 60%;
  padding: 2vw;
  gap: 2vw;
  border: solid 1px green;
}
.portfolio-item {
  aspect-ratio: 1 / 0.5;
  width: 100%;
  border: solid 1px black;
}