@font-face {
  font-family: "aqua";
  src        : url("../font/aquafont.ttf") format("truetype");
}
@font-face {
  font-family: "banana";
  src        : url("../font/YDWbananaslipplus.otf") format("opentype");
}

:root {
  --color-main-text: #F0F0F0;

  --color-header-bg   : #F0F0F0;
  --color-header-text : #333333;

  --color-screen-bg     : #333333;
  --color-screen-border : #29CCCC;

  --color-pagenation-dot      : #666666;
  --color-pagenation-dot-vivid: #F0F0F0;
  
  --color-next-arrow: #F0F0F0;
  
  --color-list-bg       : #666666;
  --color-list-item-bg  : var(--color-screen-bg);
  --color-list-tag-bg   : var(--color-main-text);
  --color-list-tag-text : var(--color-screen-bg);

  --color-section-title-underline: var(--color-list-bg);
}

html {
  font-family : "aqua", sans-serif;
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:14px ~ ｳｲﾝﾄﾞｳ幅1025px:16px の範囲で変化 */
  font-size   : clamp(14px, calc(14px + (100vw - 375px) * (2 / 650)), 16px);
  font-weight : bold;
  color       : var(--color-main-text);
  background-color: var(--color-screen-bg);
}
img {
  width     : 100%;
  height    : 100%;
  object-fit: cover;
}

.c-btn {
  z-index : 0;
  position: relative;
  width   : 40px;
  height  : 40px;
  padding : 8px;
  cursor  : pointer;
}
.is-hide {
  visibility: hidden;
}

.header {
  z-index : 1;
  position: fixed;
  display : flex;
  justify-content : space-between;
  align-items     : center;
  width   : 100%;
  height  : 40px;
  color   : var(--color-header-text);
  background-color: var(--color-header-bg);
}
.filter-btn.c-btn {
  z-index: 2
}
.view-btn {
  display: block;
}
.portfolio-title {
  z-index : 0;
  position: absolute;
  top     : 50%;
  left    : 50%;
  font-family   : "banana";
  font-size     : 1.6rem;
  font-weight   : bold;
  letter-spacing: 0.5em;
  text-shadow   : 2px 2px 0 rgba(52, 52, 52, 0.4);
  transform     : translate(-50%, -50%);
}
.filter-screen {
  z-index : 1;
  position: fixed;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 40dvh;
  background-color: rgba(48, 240, 157, 0.8);
  opacity : 0;
  transform : translate(-100%, -100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.filter-screen.is-show {
  opacity   : 1;
  transform : translate(0, 0);
}

.main {
  z-index : 0;
  position: relative;
  width   : 100%;
  height  : 100dvh;
}
.main-screen {
  position: relative;
  overflow: hidden;
  width   : 100%;
  height  : 45%;
}
.pages {
  z-index   : 0;
  position  : relative;
  display   : grid;
  grid-template-columns: repeat(3, 1fr);
  width     : 300%;
  height    : 100%;
  transform : translateX(0);
  transition: transform 0.2s ease;
}
.page-control {
  z-index : 1;
  display : flex;
  align-items : center;
  position: absolute;
  bottom  : 0;
  left    : 50%;
  gap     : 4vw;
  transform   : translateX(-50%);
}
.pagenation {
  display : flex;
  gap     : 2vw;
}
.pagenation__dot {
  aspect-ratio    : 1 / 1;
  width     : 0.5rem;
  border-radius   : 100%;
  background-color: var(--color-pagenation-dot);
  transition: background-color 0.2s ease;
}
.pagenation__dot.is-vivid {
  background-color: var(--color-pagenation-dot-vivid);
}
.next-arrow {
  overflow: hidden;
}
.next-arrow.c-btn {
  height: 32px;
}
.next-arrow__inside {
  position  : relative;
  display   : block;
  width     : 100%;
  height    : 100%;
  transform : translate(0, 0);
}
.next-arrow:nth-of-type(1):hover .next-arrow__inside {
  animation: move-arrow-left 2s ease 0s infinite;
}
.next-arrow:nth-of-type(2):hover .next-arrow__inside {
  animation: move-arrow-right 2s ease 0s infinite;
}
.next-arrow__inside::before, .next-arrow__inside::after {
  position: absolute;
  top     : 50%;
  border-width: 2px;
  border-color: var(--color-next-arrow);
  content : "";
}
.next-arrow__inside::before {
  left  : 0;
  width : 100%;
  border-style: solid none none none;
  transform   : translateY(-50%);
}
.next-arrow__inside::after {
  aspect-ratio: 1 / 1;
  width: 50%;
  border-style: solid none none solid;
}
.next-arrow:nth-of-type(1) .next-arrow__inside::after {
  left      : 1px;
  transform : translateY(-50%) rotate(-45deg);
}
.next-arrow:nth-of-type(2) .next-arrow__inside::after {
  right     : 1px;
  transform : translateY(-50%) rotate(-225deg);
}
@keyframes move-arrow-left {
  0%   { transform: translate(0, 0); }
  48%  { transform: translate(-150%, 0); }
  49%  { transform: translate(-150%, 200%); }
  50%  { transform: translate(150%, 200%); }
  51%  { transform: translate(150%, 0); }
  100% { transform: translate(0, 0); }
}
@keyframes move-arrow-right {
  0%   { transform: translate(0, 0); }
  48%  { transform: translate(150%, 0); }
  49%  { transform: translate(150%, 200%); }
  50%  { transform: translate(-150%, 200%); }
  51%  { transform: translate(-150%, 0); }
  100% { transform: translate(0, 0); }
}

.portfolio-list {
  display   : grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  width     : 100%;
  height    : 55%;
  padding   : 2vw;
  gap       : 2vw;
  background-color: var(--color-list-bg);
}
.portfolio-item {
  display : flex;
  flex-direction: column;
  overflow: hidden;
  width   : 100%;
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:160px ~ ｳｲﾝﾄﾞｳ幅1025px:200px の範囲で変化 */
  height  : clamp(160px, calc(160px + (100vw - 375px) * (40 / 650)) , 200px);
  border-radius   : 0.5rem;
  background-color: var(--color-list-item-bg);
}
.portfolio-item .img-frame {
  overflow: hidden;
  width   : 100%;
  height  : 70%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.portfolio-item .info {
  display : flex;
  flex-direction  : column;
  justify-content : space-evenly;
  flex    : 1;
  padding : 0 0.5rem;
  line-height: 1;
}
.portfolio-item .tags {
  display : flex;
  gap     : 0.25rem;
}
.portfolio-item .tag {
  padding   : 0.4em 0.8em 0.4em 0.8em;
  border-radius   : 0.5em;
  font-size : 0.6rem;
  color     : var(--color-list-tag-text);
  letter-spacing  : -0.1em;
  background-color: var(--color-list-tag-bg);
}

.page {
  display : flex;
  justify-content : center;
  align-items     : center;
  width   : 100%;
  height  : 100%;
  padding : 0 2vw;
}
.page .wrapper {
  position  : relative;
  overflow  : hidden;
  width     : 100%;
  max-width : 800px;
  height    : 70%;
  max-height: 640px;
  border    : solid 2px var(--color-screen-border);
  transform : translateY(20px);
}
.page.top .img-frame {
  position  : absolute;
  top       : 50%;
  left      : 50%;
  width     : 100%;
  height    : 100%;
  transform : translate(-50%, -50%);
  /* z-index と animation は js で設定 */
}
.page.top img {
  object-fit: contain;
}
@keyframes fade-in-out-3th {
  0% {
    opacity   : 1;
    transform : translate(-50%, -50%) scale(1);
  }
  30.9% {
    opacity   : 1;
    transform : translate(-50%, -50%) scale(1.2);
  }
  33.3%     {
    opacity   : 0;
    transform : translate(-50%, -50%) scale(1.2);
  }
  97.6%     {
    opacity   : 0;
    transform : translate(-50%, -50%) scale(1);
  }
  100%      {
    opacity   : 1;
    transform : translate(-50%, -50%) scale(1);
  }
}
@keyframes fade-in-out-4th {
  0% {
    opacity   : 1;
    transform : translate(-50%, -50%) scale(1);
  }
  23.1% {
    opacity   : 1;
    transform : translate(-50%, -50%) scale(1.2);
  }
  25%     {
    opacity   : 0;
    transform : translate(-50%, -50%) scale(1.2);
  }
  97.6%     {
    opacity   : 0;
    transform : translate(-50%, -50%) scale(1);
  }
  100%      {
    opacity   : 1;
    transform : translate(-50%, -50%) scale(1);
  }
}
.page.idea .wrapper,
.page.pain .wrapper {
  padding: 5%;
}
.page .section-title {
  z-index   : 0;
  display   : inline-block;
  position  : relative;
  font-size : 1.2rem;
  margin-bottom : 1em;
  line-height   : 1;
}
.page .section-title::before {
  z-index   : -1;
  position  : absolute;
  bottom    : 0;
  left      : 0;
  width     : 0;
  height    : 4px;
  background-color: var(--color-section-title-underline);
  clip-path : polygon(0 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
  content   : "";
  transition: width 0.2s ease 0.2s;
}
.page .section-title.is-grow::before {
  width: 120%;
}
.page .contents-text {
  position      : relative;
  padding-left  : 1em;
  letter-spacing: 0.1em;
  line-height   : 1.3;
}
.page .contents-text:not(:last-child) {
  margin-bottom: 1em;
}
.page .contents-text::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "・";
}


/**** ﾀﾌﾞﾚｯﾄ → ****/
@media screen and (min-width: 600px) {
  .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**** PC → ****/
@media screen and (min-width: 1025px) {
  .header {
    width : 60%;
    height: 64px;
  }
  .filter-screen {
    width : 60%;
    height: 50dvh;
  }
  .main {
    display: flex;
  }
  .main-screen {
    width : 60%;
    height: 100%;
  }
  .page .wrapper {
    transform : translateY(32px);
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    width : 40%;
    height: 100%;
  }
}

@media screen and (max-height: 600px) {
  .header {
    width: 60%;
  }
  .filter-screen {
    width : 60%;
    height: 50dvh;
  }
  .main {
    display: flex;
  }
  .main-screen {
    width : 60%;
    height: 100%;
  }
  .portfolio-list {
    width : 40%;
    height: 100%;
  }
}
@media screen and (max-height: 600px) and (max-width: 799px) {
  .portfolio-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-height: 600px) and (min-width: 800px) {
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
  }
}