.c-btn {
  z-index: 0;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2vw;
  background-color: #666666;
}
.filter-btn.c-btn {
  z-index: 2
}
.portfolio-name {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 1px red;
}
.filter-screen {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40dvh;
  background-color: rgba(48, 240, 157, 0.8);
  opacity: 0;
  transform: translate(-100%, -100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.filter-screen.is-show {
  opacity: 1;
  transform: translate(0, 0);
}

.main {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100dvh;
}
.main-screen {
  width: 100%;
  height: 40%;
  border: solid 1px orange;
}
.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  width: 100%;
  height: 60%;
  padding: 2vw;
  gap: 2vw;
  border: solid 1px green;
}
.portfolio-item {
  width: 100%;
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:160px ~ ｳｲﾝﾄﾞｳ幅1025px:200px の範囲で変化 */
  height: clamp(160px, calc(160px + (100vw - 375px) * (40 / 650)) , 200px);
  border: solid 1px black;
}

/**** ﾀﾌﾞﾚｯﾄ → ****/
@media screen and (min-width: 600px) {
  .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**** PC → ****/
@media screen and (min-width: 1025px) {
  .header {
    width: 60%;
  }
  .main {
    display: flex;
  }
  .screen {
    width: 60%;
    height: 100%;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    height: 100%;
  }
}