.debug-console {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

html {
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:14px ~ ｳｲﾝﾄﾞｳ幅1025px:16px の範囲で変化 */
  font-size: clamp(14px, calc(14px + (100vw - 375px) * (2 / 650)), 16px);
  color: #333333;
}

.c-btn {
  z-index: 0;
  position: relative;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
}
.is-hide {
  visibility: hidden;
}

.header {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
}
.filter-btn.c-btn {
  z-index: 2
}
.portfolio-name {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  transform: translate(-50%, -50%);
}
.filter-screen {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40dvh;
  background-color: rgba(48, 240, 157, 0.8);
  opacity: 0;
  transform: translate(-100%, -100%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}
.filter-screen.is-show {
  opacity: 1;
  transform: translate(0, 0);
}

.main {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100dvh;
}
.main-screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 40%;
  border: solid 1px orange;
}
.pages {
  z-index: 0;
  position: relative;
  display: flex;
  width: 300%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.2s ease;
}
.top-page {
  width: 100%;
  height: 100%;
  background-color: tomato;
}
.idea-page {
  width: 100%;
  height: 100%;
  background-color: aqua;
}
.pain-page {
  width: 100%;
  height: 100%;
  background-color: violet;
}
.page-control {
  z-index: 1;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  gap: 4vw;
  transform: translateX(-50%);
}
.pagenation {
  display: flex;
  gap: 2vw;
}
.pagenation__dot {
  aspect-ratio: 1 / 1;
  width: 0.5rem;
  border-radius: 100%;
  background-color: black;
  opacity: 0.2;
  transition: opacity 0.2s ease;
}
.pagenation__dot.is-vivid {
  opacity: 0.5;
}
.next-arrow {
  overflow: hidden;
}
.next-arrow.c-btn {
  height: 32px;
}
.next-arrow__inside {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
}
.next-arrow:nth-of-type(1):hover .next-arrow__inside {
  animation: move-arrow-left 2s ease 0s infinite;
}
.next-arrow:nth-of-type(2):hover .next-arrow__inside {
  animation: move-arrow-right 2s ease 0s infinite;
}
.next-arrow__inside::before, .next-arrow__inside::after {
  position: absolute;
  top: 50%;
  border-width: 2px;
  border-color: black;
  content: "";
}
.next-arrow__inside::before {
  left: 0;
  width: 100%;
  border-style: solid none none none;
  transform: translateY(-50%);
}
.next-arrow__inside::after {
  aspect-ratio: 1 / 1;
  width: 50%;
  border-style: solid none none solid;
}
.next-arrow:nth-of-type(1) .next-arrow__inside::after {
  left: 1px;
  transform: translateY(-50%) rotate(-45deg);
}
.next-arrow:nth-of-type(2) .next-arrow__inside::after {
  right: 1px;
  transform: translateY(-50%) rotate(-225deg);
}
@keyframes move-arrow-left {
  0%   { transform: translate(0, 0); }
  48%  { transform: translate(-150%, 0); }
  49%  { transform: translate(-150%, 200%); }
  50%  { transform: translate(150%, 200%); }
  51%  { transform: translate(150%, 0); }
  100% { transform: translate(0, 0); }
}
@keyframes move-arrow-right {
  0%   { transform: translate(0, 0); }
  48%  { transform: translate(150%, 0); }
  49%  { transform: translate(150%, 200%); }
  50%  { transform: translate(-150%, 200%); }
  51%  { transform: translate(-150%, 0); }
  100% { transform: translate(0, 0); }
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow-y: scroll;
  width: 100%;
  height: 60%;
  padding: 2vw;
  gap: 2vw;
  background-color: #333333;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  /* ↓ ｳｲﾝﾄﾞｳ幅375px:160px ~ ｳｲﾝﾄﾞｳ幅1025px:200px の範囲で変化 */
  height: clamp(160px, calc(160px + (100vw - 375px) * (40 / 650)) , 200px);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.frame {
  overflow: hidden;
  width: 100%;
  height: 65%;
  border-radius: 0 0 0.5rem 0.5rem;
}
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1;
  padding: 0 0.5rem;
  line-height: 1;
}
.tags {
  display: flex;
  gap: 0.25rem;
}
.tag {
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.5em;
  background-color: #F0F0F0;
  font-size: 0.6rem;
  letter-spacing: -0.1em;
}

/**** ﾀﾌﾞﾚｯﾄ → ****/
@media screen and (min-width: 600px) {
  .header {
    padding: 1rem;
  }
  .portfolio-list {
    grid-template-columns: repeat(3, 1fr);
  }
}


@media screen and (max-width: 1024px) and (orientation: landscape) {
  .header {
    width: 60%;
  }
  .filter-screen {
    width: 60%;
    height: 50dvh;
  }
  .main {
    display: flex;
  }
  .main-screen {
    width: 60%;
    height: 100%;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    height: 100%;
  }
}


/**** PC → ****/
@media screen and (min-width: 1025px) {
  .header {
    width: 60%;
  }
  .filter-screen {
    width: 60%;
    height: 50dvh;
  }
  .main {
    display: flex;
  }
  .main-screen {
    width: 60%;
    height: 100%;
  }
  .portfolio-list {
    grid-template-columns: repeat(2, 1fr);
    width: 40%;
    height: 100%;
  }
}